/* import Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@200;300;500;700&display=swap');

/* clear default formatting */ 

* {
    margin: 0; 
    padding: 0;
    border: none;
}

/* body style */ 

body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #000; 
    background-color: #fff;
}

/* Logo and headings style */ 

h1, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

#logo-container {
    width: 100%;
    height: 50px;
    background-color: #85CBCE;
    display: flex;
    justify-content: center;
}

#logo-container a {
    text-decoration: none;
}

#logo {
    font-size: 250%;
    display: flex;
    justify-content: center;
    color: #000;
}

/* Navigation style */ 

#menu-container {
    width: 100%;
    height: 40px; 
    background-color: #adf1f4;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

#menu {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 120%;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-links {
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #000;
}

.active {
    border-bottom: 2px solid #000;
}

/* Mobile navigation style */ 
#hamburger-icon {
    margin: auto 0;
    padding-right: 20px;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 110%;
    color: #000;
    width: 100%;
    background-color: #85CBCE;
    padding: 10px 0 10px 10px;
    text-align: center;
  }

  .mobile-menu a {
    color: #000;
    background-color: #85CBCE;
  }

/* Hero image and style */ 

#hero-container-home {
    width: 100%; 
    height: 500px;
    overflow: hidden;
    display: flex;
}

#hero-image-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-image {
    display: block;
}

.hero-image-small {
    display: none;
}

.hero-image-mobile {
    display: none;
}

/* Timeline text, images and style */ 

#timeline {
    width: 100%;
    height: auto;
}

.homepage-header {
    width: 100%;
    height: 40px;
    background-color: #85CBCE;
}

.homepage-header h2 {
    text-transform: uppercase;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

#timeline-container {
    font-size: 110%;
}

.timeline-block {
    height: 260px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-block-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 20px;
}

#timeline-periods-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.timeline-image {
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.timeline-block-content a {
    color: #007cad;
    padding: 0 20px;
    font-weight: 500;
}

.timeline-block-reverse {
    display: flex;
    flex-direction: row-reverse;
}

hr {
    border: 1px dotted #000;
    width: 100%;
}

/* Extinction section on homepage style */ 

#extinction-homepage {
    width: 100%;
}

#extinction-homepage-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#extinction-homepage-text {
    width: 80%;
    font-size: 110%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

#extinction-homepage-text a {
    color: #007cad;
    font-weight: 500;
}

/* Footer style */ 

#footer {
    width: 100%;
    background-color: #85CBCE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info {
    width: 100%;
    padding: 10px 0;
}

#contact-info li {
    list-style-type: none;
    text-align: center;
}

#contact-info a {
    color: #000;
}

#social-media li {
    color: #000;
    display: inline;
    font-size: 150%;
    padding: 5px 25px;
}

#social-media a {
    color: #000;
}

#copyright {
    font-size: 80%;
}

/* Time periods page styling */  

.time-period-block {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.time-period-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85CBCE;
}

.time-period-content {
    width: 100%;
    height: 600px; 
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time-period-text {
    font-size: 110%;
    width: 50%;
    height: 600px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 30px 0 30px;
}

.time-period-text p {
    width: 90%;
    padding: 15px 0;
    margin: auto;
}

.time-period-text a {
    padding: 0;
    color: #007cad;
    font-weight: 500;
}

.time-period-images {
    width: 50%;
    padding-top: 20px;
}

.triassic-slide, .jurassic-slide, .cretaceous-slide {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.slide-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(133, 203, 206, 0.6);
}

.button-display-left {
    position: absolute;
    top: 55%;
    left: 53%;
}

.button-display-right {
    position: absolute;
    top: 55%;
    right: 1%;
}

/* Extinction page style */ 

.extinction-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #85CBCE;
}

.extinction-content {
    width: 100%;
    height: 600px; 
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.extinction-text {
    font-size: 110%;
    width: 50%;
    height: 80%;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 30px 0 30px;
}

.extinction-text p, h3 {
    width: 90%;
    margin: auto;
    padding: 5px 0;
}

.extinction-media {
    width: 50%;
}

.triassic-extinction-slide, .cretaceous-extinction-slide {
    width: 80%;
    height: 600px;
    margin: auto;
}

iframe {
    padding-top: 30px;
}

/* Contact page style */

#contact-form-container {
    width: 100%;
}

.form-image {
    width: 100%;
    height: 750px;
    object-fit: none;
    object-position: bottom;
    float: left;
    position: relative;
}

#contact-form {
    margin-top: 50px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.7);
    max-width: 420px;
    max-height: 500px;
    position: absolute;
    left: 10%;
    padding: 20px;
}

#contact-form h2 {
    color: #adf1f4;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 25px;
    margin: 10px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.form-width-50 {
    width: 30%;
}

.form-width-100 {
    width: 100%;
}

.message-box {
    background: transparent;
    color: #fafafa;
    margin: 10px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #adf1f4;
}

.message-box:hover {
    border-color: #adf1f4;
}

#contact-button {
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    padding: 10px 15px;
    background-color: #85CBCE;
    color: #fafafa;
    display: block;
}

#contact-button:hover {
    background-color: #fafafa;
    color: #85CBCE;
}


/* Media qeuries */ 

/* For larger to medium screens from 1200px wide and down */ 
@media screen and (max-width: 1200px) {

    .hero-image {
        width: 100%;
        height: auto;
        object-fit: contain;
        background-repeat: no-repeat;
    }

    .timeline-block {
        height: auto;
        flex-direction: column;
    }

    .timeline-block-reverse {
        flex-direction: column;
    }

    .timeline-block-content {
        width: 80%;
        padding: 20px 0;
        justify-content: center;
    }

    hr {
        display: none;
    }

}

/* For medium screens 950px wide and down */ 
@media screen and (max-width: 950px) {

    .time-period-block {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }

    .time-period-header h2 {
        padding: 7px 0;
    }

    .time-period-content {
        flex-direction: column-reverse;
        height: 100%;
    }

    .time-period-text, .time-period-images {
        width: 90%;
        height: 100%;
        overflow: hidden;
    }

    .time-period-text {
        margin: 0 auto;
    }

    .time-period-text h3 {
        text-align: center;
    }

    .time-period-images {
        margin: 0 auto;
    }

    .slide-image {
        height: 80%;
    }

    .button-display-left {
        top: 20%;
        left: 8%;
    }
    
    .button-display-right {
        top: 20%;
        right: 8%;
    }

    .extinction-content {
        flex-direction: column-reverse;
        height: 100%;
    }
    
    .extinction-text, .extinction-media {
        width: 90%;
    }
    
    .extinction-text p  {
        padding-bottom: 20px;
    }

    .extinction-header h2 {
        padding: 7px 0;
    }

}


/* For medium screens 800px wide and down */ 
@media screen and (max-width: 800px) {

    .hero-image {
        display: none;
    }

    .hero-image-small {
        display: block;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

}


@media screen and (max-width: 700px) {

    h1 {
        font-size: 80%;
    }

    .homepage-header h2 {
        font-size: 160%;
        padding: 7px 0;
    }

    #logo {
        padding-left: 15px;
        font-size: 220%;
    }
     
    #menu-container {
      display: none;
    }
  
    #hamburger-icon {
      display: block; 
    }

    #logo-container {
        justify-content: space-between;
        flex-direction: row;
    }

    .mobile-menu {
        position: fixed;
        z-index: 50;
    }

    .homepage-header {
        height: auto;
        text-align: center;
    }

    #timeline-periods-menu {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #extinction-homepage-text p {
        padding: 10px 0; 
    }

    .time-period-header {
        background-color: #ADF1F4;
    }

    .extinction-header {
        background-color: #ADF1F4;
    }

  }

  @media screen and (max-width: 500px) {

    .hero-image-small {
        display: none;
    }

    .hero-image-mobile {
        display: block;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        overflow: hidden;
    }

    
  }