/* import Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@200;300;500;700&display=swap');

/* clear default formatting */ 

* {
    margin: 0; 
    padding: 0;
    border: none;
}

/* body style */ 

body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #000; 
    background-color: #fff;
}

/* Logo and headings style */ 

h1, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

#logo-container {
    width: 100%;
    height: 50px;
    background-color: #adf1f4;
}

#logo-container a {
    text-decoration: none;
}

#logo {
    font-size: 250%;
    display: flex;
    justify-content: center;
    color: #000;
}

/* Navigation style */ 

#menu-container {
    width: 100%;
    height: 40px; 
    background-color: #85CBCE;
    text-align: center;
}

#menu {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-links {
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #000;
}

.active {
    border-bottom: 2px solid #000;
}

/* Hero image and style */ 

#hero-container-home {
    width: 100%; 
    height: 500px;
    overflow: hidden;
}

#hero-image-home {
    width: 100%;
    height: 100%;
    background: url("../images/dinosaurs-colored2.png") no-repeat center center;
}

/* Timeline text, images and style */ 

#timeline {
    width: 100%;
    height: auto;
}

.homepage-header {
    width: 100%;
    height: 40px;
    background-color: #85CBCE;
}

.homepage-header h2 {
    text-transform: uppercase;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

#timeline-container {
    font-size: 110%;
}

.timeline-block {
    height: 260px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-block-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 20px;
}

#timeline-periods-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.timeline-image {
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.timeline-block-content a {
    color: #2DADE1;
    padding: 0 20px;
    font-weight: 500;
}

.timeline-block-reverse {
    display: flex;
    flex-direction: row-reverse;
}

hr {
    border: 1px dotted #000;
    width: 100%;
}

/* Remove these */

.align-left {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.align-right {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}



/* Extinction section on homepage style */ 

#extinction-homepage {
    width: 100%;
}

#extinction-homepage-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#extinction-homepage-text {
    width: 80%;
    font-size: 110%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

#extinction-homepage-text a {
    color: #2DADE1;
    font-weight: 500;
}

/* Footer style */ 

#footer {
    width: 100%;
    background-color: #85CBCE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info {
    width: 100%;
    padding: 10px 0;
}

#contact-info li {
    list-style-type: none;
    text-align: center;
}

#contact-info a {
    color: #000;
}

#social-media li {
    color: #000;
    display: inline;
    font-size: 150%;
    padding: 5px 25px;
}

#social-media a {
    color: #000;
}

#copyright {
    font-size: 80%;
}

/* Time periods page styling */  

.time-period-block {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.time-period-header {
    display: flex;
    justify-content: center;
    background-color: #85CBCE;
    padding: 5px 0;
}

.time-period-content {
    width: 100%;
    height: 600px; 
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time-period-text {
    font-size: 110%;
    width: 50%;
    height: 600px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}

.time-period-text p {
    width: 90%;
    margin: auto;
}

.time-period-text a {
    padding: 0;
    color: #2DADE1;
    font-weight: 500;
}

.time-period-images {
    width: 50%;
    padding-top: 20px;
}

.triassic-slide, .jurassic-slide, .cretaceous-slide {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.slide-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(133, 203, 206, 0.6);
}

.button-display-left {
    position: absolute;
    top: 55%;
    left: 50%;
}

.button-display-right {
    position: absolute;
    top: 55%;
    right: 0%;
}

/* Extinction page style */ 

.extinction-header {
    display: flex;
    justify-content: center;
    background-color: #85CBCE;
    padding: 5px 0;
}

.extinction-content {
    width: 100%;
    height: 600px; 
    position: relative;

    display: flex;
    flex-direction: row;
}

.extinction-text {
    font-size: 110%;
    width: 50%;
    height: 600px;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}

.extinction-text p, h3 {
    width: 90%;
    margin: auto;
}

.extinction-media {
    width: 50%;
}

.triassic-extinction-slide, .cretaceous-extinction-slide {
    width: 80%;
    height: 600px;
    margin: auto;
}

iframe {
    padding-top: 30px;
}

/* Contact page style */

#contact-form-container {
    width: 100%;
}

.form-image {
    width: 100%;
    height: 750px;
    object-fit: none;
    object-position: bottom;
    float: left;
    position: relative;
}

#contact-form {
    margin-top: 50px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.7);
    max-width: 420px;
    max-height: 500px;
    position: absolute;
    left: 10%;
    padding: 20px;
}

#contact-form h2 {
    color: #adf1f4;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 25px;
    margin: 10px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.form-width-50 {
    width: 30%;
}

.form-width-100 {
    width: 100%;
}

.message-box {
    background: transparent;
    color: #fafafa;
    margin: 10px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #adf1f4;
}

.message-box:hover {
    border-color: #adf1f4;
}

#contact-button {
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    padding: 10px 15px;
    background-color: #85CBCE;
    color: #fafafa;
    display: block;
}

#contact-button:hover {
    background-color: #fafafa;
    color: #85CBCE;
}


/* Media qeuries */ 

/* For larger to medium screens from 1250px wide and down */ 
@media screen and (max-width: 1250px) {

    .timeline-block {
        height: auto;
    }
    .align-left, .align-right {
        width: 100%;
        height: auto;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 0 30px;
    }

    .align-left a {
        padding: 0;
    }
}
