/* import Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@200;300;500;700&display=swap');

/* clear default formatting */ 

* {
    margin: 0; 
    padding: 0;
    border: none;
}

/* body style */ 

body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #000; 
    background-color: #fff;
}

/* Logo and headings style */ 

h1, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

#logo-container {
    width: 100%;
    height: 50px;
    background-color: #adf1f4;
}

#logo-container a {
    text-decoration: none;
}

#logo {
    font-size: 250%;
    display: flex;
    justify-content: center;
    color: #000;
}

/* Navigation style */ 

#menu-container {
    width: 100%;
    height: 40px; 
    background-color: #85CBCE;
    text-align: center;
}

#menu {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 120%;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    width: 15%; 
}

#menu a {
    text-decoration: none;
    color: #000;
}

.active {
    border-bottom: 2px solid #000;
}

/* Hero image and style */ 

#hero-container-home {
    width: 100%; 
    height: 500px;
    overflow: hidden;
}

#hero-image-home {
    width: 100%;
    height: 100%;
    background: url("../images/dinosaurs-colored2.png") no-repeat center center;
}

/* Timeline text, images and style */ 

#timeline {
    width: 100%;
    height: auto;
}

.homepage-header {
    width: 100%;
    height: 40px;
    background-color: #85CBCE;
}

.homepage-header h2 {
    text-transform: uppercase;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

#timeline-text-container {
    font-size: 110%;
}

.timeline-block {
    height: 260px;
    overflow: hidden;
}

.align-left {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.align-left a {
    color: #2DADE1;
    padding: 0 20px;
    font-weight: 500;
}

.align-right {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

hr {
    border: 1px dotted #000;
    width: 100%;
}

/* Extinction homepage style */ 

#extinction-homepage {
    width: 100%;
    height: 200px;
}

#extinction-homepage-text {
    width: 100%;
    font-size: 110%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 30px;
}

#extinction-homepage-text a {
    color: #2DADE1;
    font-weight: 500;
}

/* Footer style */ 

#footer {
    width: 100%;
    background-color: #85CBCE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info {
    width: 100%;
    padding: 15px 0;
}

#contact-info li {
    list-style-type: none;
    text-align: center;
}

#contact-info a {
    color: #000;
}

#social-media li {
    color: #000;
    display: inline;
    padding: 0 25px;
}

#social-media a {
    color: #000;
}

#copyright {
    font-size: 80%;
    padding-top: 20px;
}

/* Time periods page styling */  

.time-period-block {
    width: 100%;
    height: 700px;
}

.time-period-header {
    display: flex;
    justify-content: center;
    background-color: #adf1f4;
    padding: 5px 0;
}

.time-period-content {
    width: 100%;
    height: 600px; 
    position: relative;
}

.time-period-text {
    font-size: 110%;
    width: 50%;
    height: 600px;
    float: left;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}

.time-period-text p {
    width: 90%;
    margin: auto;
}

.time-period-text a {
    padding: 0;
    color: #2DADE1;
    font-weight: 500;
}

.time-period-images {
    width: 50%;
    float: right;
    padding-top: 20px;
}

.triassic-slide {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.jurassic-slide {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.cretaceous-slide {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.slide-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
}

.button-display-left {
    position: absolute;
    top: 55%;
    left: 50%;
}

.button-display-right {
    position: absolute;
    top: 55%;
    right: 0%;
}

/* Extinction page style */ 

.extinction-header {
    display: flex;
    justify-content: center;
    background-color: #adf1f4;
    padding: 5px 0;
}

.extinction-content {
    width: 100%;
    height: 600px; 
    position: relative;
}

.extinction-text {
    font-size: 110%;
    width: 50%;
    height: 600px;
    float: left;
    overflow: auto;
    
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}

.extinction-text h3 {
    padding-left: 30px;
}

.extinction-text p {
    width: 90%;
    margin: auto;
}

.extinction-media {
    width: 50%;
    float: right;
}

.triassic-extinction-slide {
    width: 80%;
    height: 600px;
    margin: auto;
}

.cretaceous-extinction-slide {
    width: 80%;
    height: 600px;
    margin: auto;
}

iframe {
    padding-top: 30px;
}